header {
    width: 100%;
    background: #242526;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.side {
    display: flex;
    align-items: center;
}

.side img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.side h1 {
    margin-right: 20px;
    color: #fff;
}

.loading {
    margin: 20px;
}


@media screen and (max-width:490px) {
    header {
        display: block;
        align-items: center;
    }
    .side {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
    }
}